 body{
    background-color: black;
 }
 .card{
    width: 90%;
    max-width: 470px;
    background-color: rgb(34, 179, 179);
    border-radius: 5%;
    text-align: center;
    padding:0px 35px ;
    margin: 0px auto 0;
    margin-top: 40px;
    /* display: flex; */
    
 }
.search{
    height: 15vmin;
    width: 67vmin;
    display: flex;
    border-radius: 10%;
    align-items: center;
    justify-content: space-between;
}
.search input{
    width:1080px ;
    height: 55px;
    border-radius: 30px;
    padding: 3px  ;
    padding-left: 15px;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 8px;
    align-items: center;
}
.search-btn{
    border-radius: 50%;
    height: 60px;
    width: 137px;
    margin-right: 8px;
}
.srch{
    width: 14px;
    align-content: center; 
}
.weather-icon{
    width: 170px;
}
.weather h1{
    font-size: 75px;
    font-weight: 500;
}
.weather h2{
    font-size: 35px;
    font-weight: 300;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 60px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top: 35px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 24px;
    margin-top: 10px;
    padding-bottom: 10px;
    display: none;
}